<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include("head-meta.ejs"); %>
    <title>Calendrier</title>
</head>
<body>
    <%- include("header.ejs"); %>
    <div class="flex my-4 justify-between items-center sm+:flex-wrap md:flex-col md:items-start">
        <div class="flex justify-center items-center ml-6 sm+:mb-4 sm++:ml-2 md:mb-4">
            <h3 class="font-sans text-4xl text-gray-800 w-max"><%= monthAndYear %></h3>
            <div class="flex justify-between items-center w-20 ml-8">
                <a class="text-3xl flex justify-center items-center font-semibold rounded-l-lg w-2/5 bg-gray-800 text-white" href="/?month=<%= prevMonth %>&year=<%= prevYear %>"><</a>
                <a class="text-3xl flex justify-center items-center font-semibold rounded-r-lg w-2/5 bg-gray-800 text-white" href="/?month=<%= nextMonth %>&year=<%= nextYear %>">></a>
            </div>
        </div>
        <div class="flex justify-between items-center w-full sm+:flex-col sm+:items-start sm+:justify-center">
            <h4 class="text-3xl sm+:text-2xl font-light text-gray-800 ml-6 sm+:mb-4 sm++:ml-2">Bonjour <% if(name !== undefined && name.split(" ").length > 2) { %><%= `${name.split(" ")[0]} ${name.split(" ")[1]}` %><% } else if(isAdmin) { %>admin<% } else { %><%= name.split(" ")[0] %><% } %></h4>
            <form action="/disconnect" method="post" class="ml-6 sm++:ml-2">
                <input type="submit" value="Déconnexion" class="mr-6 bg-gray-400 text-white w-36 h-12 rounded cursor-pointer text-xl">
            </form>
        </div>
    </div>
    <div class="w-full text-xl flex ml-6 sm++:ml-4 sm+:flex-col mb-4 flex-wrap">
        <div class="flex justify-start items-center my-2 whitespace-nowrap sm+:my-2 min-sm+:mr-10">
            <div class="w-10 h-10 aspect-square bg-yellow-500 rounded-md"></div>
            <p class="ml-3">Demande en attente</p>
        </div>
        <div class="flex justify-start items-center my-2 whitespace-nowrap sm+:my-2 min-sm+:mr-10">
            <div class="w-10 h-10 aspect-square bg-green-500 rounded-md"></div>
            <p class="ml-3">Demande validée</p>
        </div>
        <div class="flex justify-start items-center my-2 whitespace-nowrap sm+:my-2">
            <div class="w-10 h-10 aspect-square bg-indigo-600 rounded-md"></div>
            <p class="ml-3">Jour spécial</p>
        </div>
    </div>
    <div class="flex justify-center items-center text-xl border border-blue-800 bg-blue-200 h-16 day-indicator min-sm:hidden">
        <div class="bg-white border border-solid rounded-full border-blue-800 aspect-square w-10 flex justify-center items-center mx-1 mon-day-indicator days-indicator">L</div>
        <div class="bg-white border border-solid rounded-full border-blue-800 aspect-square w-10 flex justify-center items-center mx-1 tue-day-indicator days-indicator">M</div>
        <div class="bg-white border border-solid rounded-full border-blue-800 aspect-square w-10 flex justify-center items-center mx-1 wed-day-indicator days-indicator">M</div>
        <div class="bg-white border border-solid rounded-full border-blue-800 aspect-square w-10 flex justify-center items-center mx-1 thu-day-indicator days-indicator">J</div>
        <div class="bg-white border border-solid rounded-full border-blue-800 aspect-square w-10 flex justify-center items-center mx-1 fri-day-indicator days-indicator">V</div>
        <div class="bg-white border border-solid rounded-full border-blue-800 aspect-square w-10 flex justify-center items-center mx-1 sat-day-indicator days-indicator">S</div>
        <div class="bg-white border border-solid rounded-full border-blue-800 aspect-square w-10 flex justify-center items-center mx-1 sun-day-indicator days-indicator">D</div>
    </div>
    <div class="flex justify-center items-center h-16 spot-day-indicator min-sm:hidden hidden"></div>
    <div class="grid grid-cols-7 text-emerald-800 text-center text-2xl md:text-xl special-sm:hidden font-semibold">
        <div class="monday">Lundi</div>
        <div class="tuesday">Mardi</div>
        <div class="wednedsay">Mercredi</div>
        <div class="thursday">Jeudi</div>
        <div class="friday">Vendredi</div>
        <div class="saturday">Samedi</div>
        <div class="sunday">Dimanche</div>
    </div>
    <div class="grid grid-cols-7 text-lime-800 text-center text-lg italic md:text-base special-sm:hidden">
        <div class="monday"><%= placesName.Mon.second %><% if(specialDaysData.length > 0) { %><br><span class=""><%= placesName.Mon.first %></span><% } %></div>
        <div class="tuesday"><%= placesName.Tue %></div>
        <div class="wednedsay"></div>
        <div class="thursday"><%= placesName.Thu %></div>
        <div class="friday"><%= placesName.Fri %></div>
        <div class="saturday"><%= placesName.Sat.first %><br><span><% let shortNameSat = placesName.Sat.second.replace("Raymond ", ""); %><%= shortNameSat %></span></div>
        <div class="sunday"></div>
    </div>
    <div class="grid min-sm:grid-cols-7 days-calendar place-items-center">
    <% let k;
    for(let j = 1; j <= 7; j++) {
        switch(firstDay) {
            case "Mon":
                k = 0;
                break;
            case "Tue":
                k = 1;
                break;
            case "Wed":
                k = 2;
                break;
            case "Thu":
                k = 3;
                break;
            case "Fri":
                k = 4;
                break;
            case "Sat":
                k = 5;
                break;
            case "Sun":
                k = 6;
                break;
        }
    }
    for(let l = 0; l < k; l++) { %>
        <div class="border-gray-200 border-solid border rounded-lg shadow-md w-11/12 h-24 text-2xl font-medium my-2 special-sm:hidden"></div>
    <% }
    for(let i = 1; i <= numberOfDays; i++) {
        let dayName = new Date(year, month - 1, i).toString().slice(0, 3).toLowerCase();
        let frenchDayName;
        switch(dayName) {
            case "mon":
                frenchDayName = "• Lundi";
                break;
            case "tue":
                frenchDayName = "• Mardi";
                break;
            case "wed":
                frenchDayName = "• Mercredi";
                break;
            case "thu":
                frenchDayName = "• Jeudi";
                break;
            case "fri":
                frenchDayName = "• Vendredi";
                break;
            case "sat":
                frenchDayName = "• Samedi";
                break;
            case "sun":
                frenchDayName = "• Dimanche";
                break;
        }
        %>
        <a href="/formulaire?day=<%= i %>&month=<%= month %>&year=<%= year %>" class="boxday<%= i %> month-<%= month %> year-<%= year %> days text-red-600 border-gray-200 border-solid border rounded-lg shadow-md w-11/12 h-24 text-2xl font-medium block my-2 flex flex-col">
            <div class="w-full flex justify-start text-center items-center"><%= i %><span class="french-day-name min-sm:hidden">&nbsp;<%= frenchDayName %></span></div>
            <div class="day<%= i %> w-full flex flex-col justify-center items-center overflow-hidden h-full"></div>
        </a>
    <% } %>
    </div>
    <div class="text-xl flex justify-start items-center my-10 ml-6 whitespace-nowrap sm+:whitespace-normal w-full sm+:my-6 sm++:ml-4 activate-day-indicator min-sm:hidden">
        <input class="w-10 h-10 aspect-square rounded-md cursor-pointeur checkbox" type="checkbox" checked>
        <p class="ml-3 italic">Jours dans les cases</p>
    </div>
    <% if(locals.isAdmin) { %>
        <div id="404" class="text-center text-3xl">
            <a href="/specialday"><button class="my-10 bg-teal-800 shadow-lg shadow-teal-500/50 text-white w-48 h-28 rounded">Définir les jours spéciaux</button></a>
    </div>
    <% } %>
    <script>
        <% let infoPlaceName;
        for(let data of eventsData) {
            switch(data.place) {
                case placesName.Mon.second:
                case placesName.Mon.first:
                case placesName.Sat.first:
                    infoPlaceName = data.place.split(" ")[0].slice(0, 1);
                    break;
                case placesName.Sat.second:
                    let firstInitial = data.place.split(" ")[0].slice(0, 1);
                    let secondInitial = data.place.split(" ")[2].slice(0, 1);
                    infoPlaceName = firstInitial + secondInitial;
                    break;
                default:
                    infoPlaceName = undefined;
            } %>
        let eventDay<%= data._id %> = document.querySelector(".day<%= data.day %>");
        let banner<%= data._id %> = document.createElement("div");
        banner<%= data._id %>.innerHTML = "<div class='flex flex-col justify-center items-center'><span class='firstName'><%= data.firstPublisher %></span><span class='secondName'><%= data.secondPublisher %></span></div><% if(infoPlaceName !== undefined) { %><span class='infoPlaceName'>(<%= infoPlaceName %>)</span><% } %>";
        banner<%= data._id %>.classList.add("<% if(data.isConfirmed) { %>bg-green-500<% } else { %>bg-yellow-500<% } %>", "text-center", "text-sm", "text-black", "font-semibold", "border-t", "border-b", "border-white", "flex", "justify-center", "items-center", "w-full", "leading-none", "h-8", "whitespace-nowrap", "banner");
        eventDay<%= data._id %>.appendChild(banner<%= data._id %>);
        <% } %>

        <% for(let specialDay of specialDaysData) { %>
            let specialDayCase<%= specialDay._id %> = document.querySelector(".boxday<%= specialDay.day %>");
            specialDayCase<%= specialDay._id %>.classList.add("bg-indigo-600");
        <% } %>
    </script>
    <script src="js/day-deactivation.js"></script>
    <script src="js/responsive.js"></script>
</body>
</html>